{% extends "view-master.html" %} {% block title %} Nhận dạng xuất huyết não {% endblock %} {% block content %}

<div class="container">

    <div class="row pd-top-20">
        <!-- Tiêu dề -->
        <div class="col-12">
            <h1 class="f-25 b">Nhận dạng vùng xuất huyết não trên ảnh CT/MRI</h1>
            <p class="f-16">Công cụ giúp nhận dạng vùng xuất huyết não trên ảnh y tế.</p>
        </div>
        <!-- Kết thúc tiêu đề -->
    </div>

    <div class="row">
        <!-- Upload file  -->
        <div class="col-12 div-upload-file">
            <p class="b f-20">Chọn tệp tin</p>
            <div style="padding: 20px; background-color: #3d99f5; border-radius: 5px;">
                <div style="border: 2px dashed #e4e9f0; padding: 40px;" class="text-center ">
                    <label for="chon-file" class="text-center block">
                        <img src="static/cdn/upload-white.png" height="100" width="100" class="img-fluid">
                    </label>
                    <label for="chon-file" style="color: white; font-weight: bold;"> Chọn tệp tin DICOM</label>
                    <input type="file" class="hide" id="chon-file">
                </div>
            </div>
        </div>
        <!-- Kết thúc upload file -->
    </div>

    <div class="row div-anh-dicom pd-top-20 hide">
        <div class="col-12 ">
            <div class="border-top pd-top-20"></div>
        </div>
        <div class="col-4">
            <p class="f-20 b">Ảnh ban đầu</p>
            <img src="#"
                style="width: 100%;" class="border img-fluid text-center border-radius-5">
        </div>
        <div class="col-8">
            <p class="f-20 b">Thông tin file dicom</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Tag Desscription</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row hide div-nhan-dang pd-top-20">
        <div class="col-12 ">
            <div class="border-top pd-top-20"></div>
        </div>
        <div class="col-12">
            <p class="f-20 b">Ảnh qua nhận dạng</p>
        </div>
        <div class="loading col-12" style="height: 75px;"></div>
    </div>

    <!-- <div class="row hide div-hinh-anh-lien-quan">
        <div class="col-12 ">
            <div class="border-top pd-top-20"></div>
        </div>
        <div class="col-12">
            <p class="f-20 b">Ảnh tương tự</p>
        </div>
    </div> -->

{% endblock %} {% block script %}
<script>
    $(document).ready(function () {
        var _TENFILE, _TENLOAIXUATHUYET;

        // Đọc thông tin file dicom
        function docThongTinFileDicom() {
            $.ajax({
                url: 'doc-thong-tin-file-dicom',
                type: 'POST',
                data: { "tenFile": _TENFILE },
                success: function (response) {
                    $.map(JSON.parse(response), function (value) {
                        $('table tbody').append("<tr>"
                            + "<td> (" + value.GroupTag + ", " + value.ElementTag + ") </td>"
                            + "<td>" + value.TagDesscription + "</td>"
                            + "<td>" + value.Value + "</td>"
                            + "</tr>");
                    });
                },
                error: function (error) { console.log(error); }
            });
        }

        // Nhận dạng vùng xuất huyết não
        function nhanDangVungXuatHuyetNao() {
            $.ajax({
                url: 'nhan-dang-vung-xuat-huyet-nao',
                type: 'POST',
                data: { "tenFile": _TENFILE },
                success: function (response) {
                    $.map(JSON.parse(response), function (value) {
                        $('.div-nhan-dang').append("<div class='col-4'>" +
                                                "<img src='static/uploads/images-detect/" + value.src + ".png' style='width: 100%;' class='border border-radius-5 img-fluid text-center'>" +
                                                "<div class='row pd-top-5'>" +
                                                "<div class='col-7'>" +
                                                "<p class='f-13'>Loại xuất huyết</p>" +
                                                "<p class='f-16 b'>" + value.ketqua + "</p>" +
                                                "</div>" +
                                                "<div class='col-5' style='border-left: 1px solid #dddddd'>" +
                                                "<p class='f-13'>Độ chính xác đạt</p>" +
                                                "<p class='b f-25'>" + value.tile + "%</p>" +
                                                "</div>" +
                                                "</div>" +
                                                "</div>");
                                                });
                    if(JSON.parse(response).length == 0){
                        $('.div-nhan-dang').append(
                            "<div class='col-12'>"
                            + "<p class='f-20 b text-center'>Chúng tôi không thể tìm thấy cùng xuất huyết</p>"
                            + "</div>");
                    }
                    
                    // Ẩn giao diện loading
                    $('.loading').waitMe('hide');
                    $('.loading').addClass('hide');

                    $('html, body').animate({
                        scrollTop: $(".div-nhan-dang").offset().top
                    }, 500);

                    // Lấy hình ảnh liên quan
                   // hinhAnhLienQuan();
                },
                error: function (error) { console.log(error); }
            });
        }

        // Hình ảnh liên quan
        function hinhAnhLienQuan() {
            $.ajax({
                url: 'hinh-anh-lien-quan',
                type: 'POST',
                data: { "tenFile": _TENFILE },
                success: function (response) {
                    alert(response);
                    $('.div-hinh-anh-lien-quan').removeClass('hide');
                    $.map(JSON.parse(response), function (value) {
                        $('.div-hinh-anh-lien-quan').append("<div class='col-4'>" +
                                                "<img src='static/uploads/images-detect/" + value[0] + ".png' style='width: 100%;' class='border border-radius-5  img-fluid text-center'>" +
                                                "<div class='row pd-top-5'>" +
                                                "<div class='col-7'>" +
                                                "<p class='f-13'>Loại xuất huyết</p>" +
                                                "<p class='f-16 b'>" + value[1] + "</p>" +
                                                "</div>" +
                                                "<div class='col-5' style='border-left: 1px solid #dddddd'>" +
                                                "<p class='f-13'>Độ chính xác đạt</p>" +
                                                "<p class='b f-25'>" + value[2] + "%</p>" +
                                                "</div>" +
                                                "</div>" +
                                                "</div>");
                                                });
                },
                error: function (error) { console.log(error); }
            });
        }

        $('#chon-file').change(function () {
            if (document.getElementById("chon-file").files.length != 0) {
                var formData = new FormData();
                formData.append("file", document.getElementById("chon-file").files[0]);

                // Upload file dicom lên server
                $.ajax({
                    url: 'upload-file',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        _TENFILE = response;
                        // Hiện thị hình ảnh
                        $(".div-anh-dicom").removeClass('hide');
                        $(".div-anh-dicom img, .div-anh-nhan-dang img")
                            .attr("src", "static/uploads/images/" + response + ".png");

                        $('html, body').animate({
                                scrollTop: $(".div-anh-dicom").offset().top
                            }, 500);

                        // Đọc thông tin file dicom
                        docThongTinFileDicom();

                        // Show giao diện loading
                        $('.div-nhan-dang').removeClass('hide');
                        $('.loading').waitMe({effect : 'bounce', text : 'Đang nhận dạng hình ảnh...', bg : 'rgba(255,255,255,0.7)', fontSize: '14px;'});
                        
                        // Nhận dạng vùng xuất huyết
                        nhanDangVungXuatHuyetNao();
                    },
                    error: function (error) { console.log(error); }
                });

                $(".div-xem-thong-tin").removeClass('hide');

            } else { console.log("No files selected."); }
        });
    });
</script> {% endblock script %}}