<div class="col-12 pd-top-20">
    <p class="b f-20 mg-bottom-15">Chọn tệp tin</p>
    <div style="padding: 20px; background-color: #3d99f5; border-radius: 5px;">
        <div style="border: 2px dashed #e4e9f0; padding: 40px;" class="text-center ">
            <label for="chon-file" class="text-center block">
                <img src="static/cdn/upload-white.png" height="100" width="100" class="img-fluid">             
            </label> 
            <label for="chon-file" style="color: white; font-weight: bold;"> Chọn tệp tin DICOM</label>
            <input type="file" class="hide" id="chon-file">
        </div>
    </div>
</div>