@import url('https://fonts.googleapis.com/css?family=Roboto');
*{ font-family: 'Roboto', sans-serif; }
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border-width: 1px 1px 1px 6px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

.row{
    margin-bottom: 30px;
}

p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin-bottom: 5px;
}

.box-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.background{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.footer{
    padding: .5rem 1rem;
    margin-top: 10px;
}
.footer p{
    margin: 0;
    line-height: 40px;
}

.loading{
    font-size: 40px;
    line-height: 512px;
    color: white;
}


/* Font */
.f-13{
    font-size: 13px;
}

.f-15{
    font-size: 15px;
}

.f-16{
    font-size: 16px;
}

.f-20{
    font-size: 20px;
}

.f-25{
    font-size: 25px;
}

.b{
    font-weight: bold
}

.block{
    display: block;
}

.hide{
    display: none;
}

.lh-35{
    line-height: 35px;
}

/* Padding */
.pd-tb-10-lr-15{
    padding: 10px 15px;
}

.pd-top-5{
    padding-top: 5px;
}

.pd-top-10{
    padding-top: 10px;
}

.pd-top-20{
    padding-top: 20px;
}

.pd-top-bottom-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pd-bottom-30{
    padding-bottom: 30px;
}

/* Margin */
.mg-right-20{
    margin-right: 20px;
}

.mg-right-10{
    margin-right: 10px;
}

.mg-top-20{
    margin-top: 20px;
}

.mg-bottom-15{
    margin-bottom: 15px;
}

/* image */
.object-fit{
    object-fit: cover;
}

.border-radius-5{
    border-radius: 5px;
}


.border-radius-10{
    border-radius: 10px;
}

.border-radius-20{
    border-radius: 20px;
}

/* Cursor */
.context-menu{
    cursor: context-menu;
}

.block{
    display: block
}
.at-button{
    background: #215FFF;
    color: white;
    padding: 11px 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.border-top{
    border-top: 1px solid #dddddd;
}

.border-left{
    border-left: 1px solid #dddddd;
}

.border-right{
    border-right: 1px solid #dddddd;
}

.border-bottom{
    border-bottom: 1px solid #dddddd;
}

.table{
    height: 350px;
    overflow: auto;
    display: inherit;
    font-size: 14px;
}