<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        .margion-top-100{
            margin-top: 100px;
        }
        .max-width-500{
            max-width: 500px;
        }
        .b{
            font-weight: bold;
        }
        .container{
            max-width: 500px;
        }
        .margin-top-10{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <form action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 margion-top-100">
                        <h1 class="b">Xin chào...</h1>
                        <span>Hãy cung cấp tài khoản hợp lệ để đăng nhập vào hệ thống.</span>
                        <hr>
                    </div>
                    <div class="col-12">
                        <label for="">Tên đăng nhập</label>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập">
                    </div>
                    <div class="col-12">
                        <label for="">Mật khẩu</label>
                        <input type="text" class="form-control" placeholder="Mật khẩu đăng nhập">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary margin-top-10">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>